body {
    font-family: 'Arial', sans-serif;
    background-color: #FFE9BF;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

header .logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: left;
    padding: 20px;
}

aside {
    width: 20%;
}

.content {
    width: 60%;
}

article {
    margin-bottom: 20px;
}

article h2 {
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
